<h1>Agregar un comentario del restaurant <%= @restaurant.name %></h1>

<%= simple_form_for [ @restaurant, @review ] do |form| %>
  <%= form.input :content, label: "Dejá tu comentario" %>
  <%= form.submit "Submit review", class: "btn btn-primary" %>
<% end %>